.container {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
}

.infoBox {
  min-width: 50%;
  max-width: 50%;
  margin-bottom: 1em;
}

@media only screen and (max-width: 1020px) {
  .container {
    display: block;
  }
  .infoBox {
    max-width: 100%;
    margin-bottom: 2em;
  }
}
