.container {
  position: relative;
  height: 100%;
}

.loadingContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.loadingCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
